/*
 * Layout
 ------------------------------------------------------------ */

h4 {
  margin: 30px 0 0 0 !important;
  color: #007dc1 !important;
}
h4:before {
  content: "\f0a2";
  font-family: fontawesome;
  margin-right: 8px;
}
.mappings {
  margin: 0 !important;
  color: #888 !important;
  font-size: 0.9em;
}
#event-type-search {
  width: 100%;
  border: 2px solid #d2d2d6;
}
#event-type-search::placeholder {
  color: #d2d2d6;
}
#event-type-count {
  font-size: 0.9em;
  color: #888;
  margin-left: 0.3em;
  margin-top: -1em;
}

/*
 * Colors
 ------------------------------------------------------------ */
/*
 * New Colors
 ------------------------------------------------------------ */
/*
 * Typography
 ------------------------------------------------------------ */
