/*
 * Layout
 ------------------------------------------------------------ */

#event-type-catalog {
  overflow: scroll;
}
#event-type-catalog code {
  word-break: break-word;
}
.TableOfContents {
  display: none !important;
}
.PageContent {
  padding-right: 0 !important;
}
.PageContent-main {
  width: 100% !important;
  max-width: 100% !important;
}

/*
 * Colors
 ------------------------------------------------------------ */
/*
 * New Colors
 ------------------------------------------------------------ */
/*
 * Typography
 ------------------------------------------------------------ */
