.Header {
  background: get-color('ebony-clay');

  #OktaLogo {
    path {
      fill: get-color('white');
    }
  }

  @include media('<=600px') {
    #form_search {
      input[type=text] {
        margin-left: 10px !important;
      }
    }
  }

}