// Programming Language Icons
%IconTile {
	@include responsiveRatio('5x3');
	background-color: get-color('matisse');
	box-shadow: get-color('elephant') 10px 10px;

	&:after {
		background: no-repeat center;
		background-size: contain;
		content: '';
		display: block;
		height: calc(100% - 40px);
		left: 50%;
		max-width: 120px;
		max-height: 60px;
		position: absolute;
		transform: translate(-50%, -50%);
		top: 50%;
		width: calc(100% - 40px);
	}
}

.IconTile,
[class^='IconTile--'],
[class*=' IconTile--'] {
	@extend %IconTile;
}

.IconTile {
	&--javascript {
		&:after {
			background-image: image_url("icons/javascript--white.svg");
		}
	}

	&--java {
		&:after {
			background-image: image_url("icons/java--white.svg");
			max-height: 80px;
		}
	}

	&--python {
		&:after {
			background-image: image_url("icons/python--white.svg");
		}
	}

	&--dotnet {
		&:after {
			background-image: image_url("icons/dotnet--white.svg");
			max-height: 30px;
		}
	}

	&--objectivec {
		&:after {
			background-image: image_url("icons/objectivec--white.svg");
		}
	}

	&--php {
		&:after {
			background-image: image_url("icons/php--white.svg");
		}
	}

	&--swift {
		&:after {
			background-image: image_url("icons/swift--white.svg");
		}
	}

	&--bash {
		&:after {
			background-image: image_url("icons/bash--white.svg");
		}
	}

	&--salesforce {
		&:after {
			background-image: image_url("logos/salesforce--white.svg");
		}
	}

	&--box {
		&:after {
			background-image: image_url("logos/box--white.svg");
		}
	}

	&--aws {
		&:after {
			background-image: image_url("logos/aws--white.svg");
		}
	}

	&--concur {
		&:after {
			background-image: image_url("logos/concur--white.svg");
		}
	}

	&--zendesk {
		&:after {
			background-image: image_url("logos/zendesk--white.svg");
		}
	}

	&--slack {
		&:after {
			background-image: image_url("logos/slack--white.svg");
		}
	}

	&--dropbox {
		&:after {
			background-image: image_url("logos/dropbox--white.svg");
		}
	}

	&--docusign {
		&:after {
			background-image: image_url("logos/docusign--white.svg");
		}
	}

}
